.nav {
    width: 100%;
    height: 65px;
    position: fixed;
    line-height: 5px;
    text-align: center;
    /* background-color: #2d0320;  */
    z-index: 1000;
    display: flex; 
    align-items: center; 
    padding: 0 3rem;
    border-radius: 15px; 
}

.nav div.logo {
    flex: 1; /* Allow logo to take available space */
}

.nav div.logo a {
    text-decoration: none;
    color: #fff;
    font-size: 2.5rem;
    
}

.nav div.logo a:hover {
    color: #2d0320;
}

.nav div.main_list {
    display: flex; 
}

.nav div.main_list ul {
    width: auto; 
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav div.main_list ul li {
    padding: 0 1.5rem; 
}

.nav div.main_list ul li a {
    text-decoration: none;
    color: #2d0320;
    line-height: 65px; 
    font-size: 1.4rem;
    font-weight: bolder;
}

.nav div.main_list ul li a:hover {
    color: white;
}

.nav.hidden {
    transform: translateY(-100%); 
}

.hamburger {
    display: none; 
    cursor: pointer;
    font-size: 3rem; /* Adjust size */
    color: #fff; /* Color for the icon */
    padding: 10px; 
}

@media (max-width: 600px) {
    .hamburger {
        display: block; 
    }

    .nav div.main_list {
        display: none; 
        
        flex-direction: column; 
        background-color: #a28b8e; 
    }

    .nav div.main_list.show_list {
        display: flex; 
    }

    .nav div.main_list ul {
        flex-direction: column; 
        align-items: center; 
        padding: 0; 
    }

    .nav div.main_list ul li {
        width: 100%; 
        
        text-align: center; 
        padding: 10px 0; 
    }
}
